
@font-face {
    font-family: 'Circular Std';
    src: url('../assets/fonts/CircularStd-Bold.eot');
    src: url('../assets/fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/CircularStd-Bold.woff2') format('woff2'),
        url('../assets/fonts/CircularStd-Bold.woff') format('woff'),
        url('../assets/fonts/CircularStd-Bold.ttf') format('truetype'),
        url('../assets/fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald-Regular.eot');
    src: url('../assets/fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Oswald-Regular.woff2') format('woff2'),
        url('../assets/fonts/Oswald-Regular.woff') format('woff'),
        url('../assets/fonts/Oswald-Regular.ttf') format('truetype'),
        url('../assets/fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Poppins:wght@200;300;400;500&display=swap');


html                { scroll-behavior: smooth;  }
*                   { margin: 0; padding: 0; box-sizing: border-box; overflow-x: hidden;}
h1,h2,h3,h4,h5,h6   { font-family: 'Circular Std';  cursor: default;}
body                {  font-family: 'Open Sans', sans-serif; background-color: #fff;}
a, a:hover, a:visited, a:active           { text-decoration: none; color: black;}
li                  { text-decoration: none; list-style: none;}
p                   {  cursor: default;}

.container-sm       { margin: 0 auto; width: 700px; overflow: hidden;}
.container          { margin: 0 auto; width: 1170px; overflow: hidden;}


.fixed              { position: fixed; top: 0; left: 0; right: 0; bottom: 0; height: 100vh; overflow: hidden; z-index: 10; }     
.w--current         { color: #f9b5b5 !important;}
/* ============================================================universal style ends============================================================ */

/* ============================================================click to top button style start============================================================ */

.clickToTop         { display: none; position: fixed; right: 50px; bottom: 25px; z-index: 10;  outline: none; border: none; height: 50px; width: 50px; border-radius:100% ; background:   #f9b5b5;  cursor: pointer; overflow: visible; transition-duration:0.4s ;}
.clickToTop i       { position: absolute; top: 0%; left:33% ; transform: rotate(-90deg) scale(1.8) translate(-50%); color: #2c386b; transition-duration:0.4s ;}
.clickToTop i:hover     { top: -25%;}




/* ============================================================click to top button style end============================================================ */


/* ============================================================header style start============================================================ */
.header          { position: relative;}
.logo           { margin: 50px auto; text-align: center;   }
.logo h1        { font-size: 38px; color: #2c386b; }
.logo h1 a      { color: #2c386b;}
.navbar         { display: block; margin-bottom: 40px;}
.navbar ul      { display: flex; justify-content: space-between; cursor: default;}
.navbar a       {  color: #2c386b; transition: all 0.4s ease;}
.navbar a:hover { color: #f9b5b5;}
.nav-menu       { display: none; position: absolute; top: 0%; right: 0%; height: 30px; width: 30px;}
/* ============================================================header style end============================================================ */

/* ============================================================main style start============================================================ */
.banner                 { min-height: 100vh; position: relative; background-color: #fafafa; overflow: hidden;}
.slides                 {  overflow: hidden;}
.slides img             { height: 100vh; width: 100%; object-fit: cover; filter: brightness(80%); }

.banner-content         {  text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;}
.banner-content h1      { font-size: 50px;}
.banner-content p       { margin: 25px auto;  font-size: 14px; color: rgba(255, 255, 255, 0.783);}
.btn                    { padding: 15px 25px; outline: none; border: none;  background: transparent; color: white; border:  1px solid white; transition: all 0.4s ease; cursor: pointer;}
.btn:hover              { color: #2c386b; background-color: rgb(255, 255, 255);}

/* 
.slick-dots li button { font-size: 0px; color: white; border: 1px solid white; border-radius: 100%; }
.slick-dots li button:before {  font-size: 25px; color: white;}
.slick-dots li      { height: 30px; width: 30px;} */


/* .slick-my-dots      { position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); display: flex; width: 20px; height: 20px; background-color: red; border: 1px solid red; border-radius: 100%; overflow: hidden; } */




/* ==============================slick dots and arrow style start============================== */
.left-arrow                         { z-index: 1; position: absolute; top: 50%; left: 5%; transform: translateY(-50%) rotate(180deg);  cursor: pointer; transition: all 0.4s ease; }
.left-arrow:hover                   { filter: brightness(100);}

.right-arrow                        {  z-index: 1; position: absolute; top: 50%; right: 5%; transform: translateY(-50%) ; cursor: pointer; transition: all 0.4s ease; }
.right-arrow:hover                  { filter: brightness(100);}
.slick-dotted.slick-slider          { margin-bottom: 0;}
.slick-dots                         {  bottom: 34px; transform: scale(1.5); }
.slick-dots li button               { background: url("../images/circle-24.png") no-repeat center/30%;  border-radius: 100%;  text-indent: -9999px; overflow:hidden; transition: all 0.4s ease;
}
.slick-dots li.slick-active button  { filter: brightness(0);}
/* ==============================slick dots and arrow style end============================== */

/* ==============================yoga section style start============================== */
.yoga-types                     { padding: 55px 0;  background-color: #fafafa; overflow: hidden;}
.yoga                           { margin: 55px auto; display: flex;  justify-content: space-between; }
.yoga-type                      { width: 250px; display: flex; flex-direction: column; align-items: center; text-align: center;}
.yoga-type h1                   { margin-top: 35px; font-size: 28px; color: #2c386b; }
.yoga-type p                    { margin-top: 30px; font-size: 14px;  color: #2c386b;}
.yoga-image                     { height:200px ; width: 200px; overflow: hidden; border-radius: 100%; }
.yoga-image img                 { height: 100%; width: 100%; object-fit: cover; }
.learn-more                     { margin-top: 50px; padding:20px 30px ; border: none; outline: none; color: rgba(0, 0, 0, 0.829); background: white; font-size: 14px;  cursor: pointer; transition: all 0.4s ease;}
.learn-more i                   { vertical-align: middle; font-size: 12px;}
.learn-more:hover               { border-radius: 10px; background-color: #2c386b; color: white;}
/* ==============================yoga experience style end============================== */

/* ==============================Experience Section============================== */

.yoga-experience    {  text-align: center;}
.experience-title   { margin-top: 50px;  font-size: 35px; color: #2c386b; }
.experience         { margin-top: 70px; display: flex;  justify-content: center; overflow: hidden;}

/* ===============middle image style start */
.exp-img            {margin-left: 25px; height: 570px; width:380px;  overflow: hidden;}
.exp-img img        { height: 100%; width: 100%; object-fit: cover;}
/* ===============middle image style end=============== */



/* ===============left experience style start=============== */
.exp-lft            { display: flex; flex-direction: column; justify-content: space-between;}
.exp                { display: flex; justify-content: space-between;}
.lft-content        { margin-right: 25px; max-width: 350px; text-align: right;}
.lft-content h1     { font-size: 26px; color: #2c386b;}
.lft-content p      { margin-top: 10px; font-size: 14px; color: #2c386b;}

.lft-img            {  width: 60px; height: 60px; background-color: #f9b5b5; border-radius: 100%; overflow: hidden; flex-shrink:0 ;}
.lft-img img        { width: 100%; height: 100%; object-fit: cover; filter: brightness(100);}
/* ===============left experience style end=============== */

/* ===============right experience style start=============== */
.exp-rgt            { display: flex; flex-direction: column; justify-content: space-between;}
.rgt-content        { margin-left: 25px; max-width: 350px; text-align: left;}
.rgt-content h1     { font-size: 26px; color: #2c386b;}
.rgt-content p      { margin-top: 10px; font-size: 14px; color: #2c386b;}
.rgt-img            { margin-left: 25px; width: 60px; height: 60px; flex-shrink: 0; background-color: #f9b5b5; border-radius: 100%; overflow: hidden; }
.rgt-img img        { width: 100%; height: 100%; object-fit: cover; filter: brightness(100);}
/* ===============right experience style end=============== */


/* ==============================experience section end============================== */

/* ==============================class section style start============================== */

.classes-title          { margin-top: 100px; margin-bottom: 35px; text-align: center; font-size: 35px; color: #2c386b;}
.class-grid             { display: flex; flex-wrap: wrap; justify-content: space-between; overflow: hidden;}
.class                  { margin-top: 35px; width: calc(100% / 3 - 25px); display: flex; flex-direction: column; text-align: center; align-items: center; overflow: hidden; transition-duration: 0.4s;}
.class-img              { height: 280px; width: 380px; overflow: hidden; position: relative;}
.class img              { height: 100%; width: 100%; object-fit: cover; transition-duration:  0.4s ;}
.class-img img:not(.exc):hover    { transform: scale(1.1);}
.class h2               { margin-top: 30px; color: #2c386b; cursor: pointer; }
.class h2 a             { color: #2c386b; transition-duration:  0.4s ;}
.class a:hover          { color: #f9b5b5;}
.class p                { margin-top: 15px; font-size: 14px; color: #2c386b;}


.exc                    { position: absolute; top: 0; left: 0; right: 0; bottom: 0; transform: scale(6); }
/* ==============================class section style end============================== */

/* ==============================Time Table Section Start============================== */


table,th,td,tr          { border: 1px solid #e4e7ea; border-collapse: collapse; }
th                      { font-size: 14px; font-weight: normal;}
td                      { min-width:167.14px; height: 215px; }
td i                    { font-size: 12px; color: #c4c7ca;}
.time-table-title       { margin-top: 100px; margin-bottom: 70px; font-size: 35px; color: #2c386b; text-align: center;}
.table                  {margin: 0 auto; width: 1170px;  border-collapse: collapse; text-align: center; }
.days                   {  background-color: #f9b5b5; color: white;}
.schedule               { margin-top: 25px; display: flex; flex-direction: column; align-items: center; justify-content: space-around;  }
.schedule-img           { width: 80px; height: 80px;  border-radius: 100%; overflow: hidden;}
.schedule-img img       { height: 100%; width: 100%; object-fit: cover;}
.schedule h3            { margin-top: 15px; color: #2c386b; font-size: 18px;}
.schedule p             { margin-top: 5px; color:#2c386b; font-size: 14px;}
.days th                { padding: 15px 35px;}
.months th              { padding: 15px 35px; }
.months a               { color: #f9b5b5;}
.months i               { font-size: 10px; color: #f9b5b5;}

/*  ==============================Time Table Section end============================== */


/* ==============================Story Section start============================== */

.stories                                            { margin-top: 100px; }
.class-stories                                      { padding-top: 50px; padding-bottom: 80px; display: flex; justify-content: space-between; overflow: hidden;}
.stories-title h4                                   { margin-bottom: 10px; font-size: 12px; color: #f9b5b5;}
.stories-title h1                                   { margin-bottom: 70px;}
.stories-title                                      { font-size: 35px; color: #2c386b; text-align: center;}

.story                                              { padding-left: 30px; width: calc(100% / 3 - 70px); position: relative; display: flex; flex-direction: column;  }
.story p                                            { font-size: 14px; line-height: 2; text-align: justify; color: #2c386b;}
.quotes                                             { padding-top: 10px; position: relative; top: 16px; left: -18px; z-index: -1; width: 40px; height: 40px; border-radius: 100%; background-color: #f9b5b5; color: white; text-align: center; font-size: 12px; }


.person                                             { margin-top: 30px; display: flex; align-items: center;}
.person img                                         { margin-right: 15px; height: 100px; width: 100px; border-radius: 100%; object-fit: cover; }
.person h3                                          { color: #2c386b;}
.person p                                           { color: #d1d1d1;}

.class-stories .slick-dots                          { bottom: 0px;}
.class-stories .slick-dots li                       { margin:  0 -2px;}
.class-stories .slick-dots li button                { padding: 0; background: url("../images/imageedit_1_6587535692.png") no-repeat center/30%;  border-radius: 100%;  text-indent: -9999px; overflow:hidden; transition: all 0.4s ease;
}
/* ==============================story section end============================== */

/* ==============================counter section starts============================== */

.counter-bg                                         {margin-top: 100px;  height: 315px;  background : url("../images/bg_3.jpg") no-repeat 0px -240px/cover; color: #f9b5b5;}
.counter                                            { height: 315px; display: flex; justify-content: space-around; align-items: center; }
.counts                                             { margin: 0 auto; display: flex; flex-direction: column;  text-align: center;}
.counts h1                                          { font-size: 45px; margin-bottom: 25px; cursor: default;}


.customer-count                                     { animation-duration: 1s;
    animation-delay: 0s;}

/* ==============================counter section end============================== */

/* ==============================recent posts section start============================== */
.recent-posts                                       { background-color: #fafafa;}
.posts                                              { margin-bottom: 100px; display: flex; justify-content: space-between;}
.post                                               { display: flex; flex-direction: column;    width: calc(100% / 3 - 20px);}
.post-img                                           { height: 280px; width: 380px; overflow: hidden; cursor: pointer; }
.post-img img                                       { height: 100%; width: 100%; object-fit: cover; transition-duration: 0.4s ; }
.post-img img:hover                                 { transform: scale(1.1); }

.post p:first-of-type                               { margin: 20px 0;  font-size: 12px; font-weight: 300; color: #c4c4c4;}
.post p:last-of-type                                { margin-top: 20px; font-size: 14px; font-weight: 300; color: rgba(0, 0, 0, 0.503);}
.post h3  a                                         { margin-top: 20px; font-size: 22px; color: #2c386b;}

.post i                                             { font-size: 10px;}


/* ==============================recent posts section end============================== */

/* ==============================latest photos section start ==============================*/
.latest-photos-section                              { overflow: hidden;}
.latest-photos                                      { margin: 50px auto; padding: 50px 50px; display: flex; flex-wrap: wrap; justify-content: center; overflow: hidden;}
.photo                                              { margin: 20px; height: 280px; width: 380px; overflow: hidden; cursor: pointer;}
.photo img                                          { height: 100%; width: 100%; object-fit: cover; transition-duration: 0.4s;}
.photo img:hover                                    { transform: scale(1.1);}

/* ==============================latest photos section ends============================== */
footer                          {  height: 410px; background-color: #fafafa; border-top: 1px solid #e4e7ea;}
.footer                         {margin: 100px auto; display: flex; justify-content: space-between;}
.footer-content                 {  width: calc(100% / 4 - 35px);}

.footer-meditative h3 a         {  color: #2c386b; }
.footer-meditative p            { margin-top: 25px; font-weight: 200; font-size: 14px; line-height: 2; color: #2c386bc1;}

.popular-links   h3             { margin-bottom: 25px; color: #2c386b;}
.popular-links  li              { margin-top: 5px;}
.popular-links  li a            {  color: rgba(0, 0, 0, 0.43); font-weight: 200; font-size: 14px; transition-duration: 0.4s ;}
.popular-links  li a:hover      { color: #2c386b;}

.quick-links    h3              { margin-bottom: 25px; color: #2c386b;}
.quick-links li                 { margin-top: 5px;}
.quick-links li a               {  color: rgba(0, 0, 0, 0.43); font-weight: 200; font-size: 14px; transition-duration: 0.4s ;}
.quick-links li a:hover         { color:#2c386b;}


.have-questions  h3 { margin-bottom: 25px; color: #2c386b;}
.ques-cont          { margin-bottom: 20px; display: flex; align-items: center; color: #c4c4c4; font-weight: 200; font-size: 14px;}
.ques-cont p        { margin-left: 15px;}
.ques-cont span     { width: 35px; height: 30px; }

.ques-cont span i   { padding-top: 5px; vertical-align: middle; color: black;}



/* ============================== footer section ============================== */

/* ============================== Nav Menu for mobiles ============================== */
.navigation-menu        { position: absolute; height: 400px; width: 100vw; 
z-index: 2; background: #fafafaf0; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;}
.navigation-menu ul { overflow: hidden;}
.navigation-menu li     { padding: 20px; }
.navigation-menu li a  { color: #2c386b;}

.hide-menu              { display: none;}


/* ============================== Nav Menu for mobiles end============================== */


/* @media ( min-width: 1200px) and ( max-width: 1365px) {
    
}
@media ( min-width: 992px) and ( max-width: 1199px) {
    
}
@media ( min-width: 768px) and ( max-width: 991px) {
    

}
@media (max-width: 767px) and (orientation: landscape){

}
@media (max-width: 767px){

} */

/* ==============================Media queries ============================== */

@media (max-width:575px){ 
.container                          { width: 100% ;}
.nav-menu                           {  position: absolute; top: 50%; right: 0%; height: 50px; width: 50px; transform: translateY(-50%); text-align: center;display: flex;align-items: center; font-size: 22px; color: #2c386b;}
.header                             { width: 100vw; }
.logo                               { margin: 14px 30px; text-align: left;   }
.logo h1                            { font-size: 30px; color: #2c386b; }
.navbar                             { display: none; margin-bottom: 40px;}

.banner                             { min-height: 400px; position: relative; background-color: #fafafa; overflow: hidden;}
.slides img                         { height: 400px; width: 100%; object-fit: cover; filter: brightness(50%); aspect-ratio: 16 / 9; }
.slick-dots                         {  bottom: 5px; transform: scale(0.5); }
.banner-content h1                  { font-size: 28px;}
.banner-content p                   { margin: 15px auto;  font-size: 12px; color: rgba(255, 255, 255, 0.783); font-size: 12px; line-height: 1.5;}
.left-arrow                         { z-index: 1; position: absolute; top: 50%; left: 3%; transform: translateY(-50%) rotate(180deg) scale(0.5);  cursor: pointer; transition: all 0.4s ease; }
.right-arrow                        {  z-index: 1; position: absolute; top: 50%; right: 3%; transform: translateY(-50%) scale(0.5) ; cursor: pointer; transition: all 0.4s ease; }
.btn                                { padding: 10px 15px; font-size: 12px; outline: none; border: none;  background: transparent; color: white; border:  1px solid white; transition: all 0.4s ease; cursor: pointer;}


.yoga-types                         { padding: 25px 0;  background-color: #fafafa; overflow: hidden;}
.yoga                               { margin: 0px auto; display: flex; flex-direction: column; align-items: center; justify-content: space-between; }
.yoga-type                          { margin-top: 15px; width: 250px; display: flex; flex-direction: column; align-items: center; text-align: center;}
.yoga-type h1                       { margin-top: 30px; font-size: 28px; color: #2c386b; }
.yoga-type p                        { margin-top: 15px; font-size: 14px;  color: #2c386b;}
.learn-more                         { margin: 25px auto; padding:10px 20px ; border: none; outline: none; color: rgba(0, 0, 0, 0.829); background: white; font-size: 14px;  cursor: pointer; transition: all 0.4s ease;}



.experience-title                   { margin-top: 25px;  font-size: 28px; color: #2c386b; }
.experience                         { margin-top: 25px; display: flex;  flex-direction: column; align-items: center; justify-content: center; overflow: hidden;}
.exp-img                            { margin: 35px auto; height: 440px; width:310px;  overflow: hidden;}


.lft-content                        { margin-right: unset; margin-bottom:25px ; max-width: 350px; text-align: center;}
.lft-content h1                     { font-size: 22px; color: #2c386b;}
.lft-content p                      { margin-top: 10px; max-width:310px;  font-size: 14px; color: #2c386b;}
.lft-img                            { display: none; width: 60px; height: 60px; background-color: #f9b5b5; border-radius: 100%; overflow: hidden; flex-shrink:0 ;}

.exp-rgt                            { margin-bottom: 50px; display: flex; flex-direction: column; justify-content: space-between;}
.rgt-content                        { margin-left: unset; margin-top: 25px; max-width: 350px; text-align: center;}
.rgt-content h1                     { font-size: 22px; color: #2c386b;}
.rgt-content p                      { margin-top: 10px; max-width:310px; font-size: 14px; color: #2c386b;}
.rgt-img                            { display: none; margin-left: 25px; width: 60px; height: 60px; flex-shrink: 0; background-color: #f9b5b5; border-radius: 100%; overflow: hidden; }


.classes-title                      {  margin-top: 25px; margin-bottom: 25px; text-align: center; font-size: 28px; color: #2c386b;}
.class-grid                         { margin-bottom: 25px; display: flex; flex-direction: column; align-items: center; justify-content: space-between;}
.class                              { margin-top: 15px; margin-bottom: 25px; width: 280px; display: flex; flex-direction: column;  text-align: center; align-items: center;}
.class h2                           { margin-top: 15px; color: #2c386b; cursor: pointer; }


.time-table-title                   { margin-top: 25px; margin-bottom: 25px; font-size: 26px; color: #2c386b; text-align: center;}
.class-time-table                   { overflow-x: scroll; margin-left: 25px; margin-right: 25px; border: 1px solid #e4e7ea;}
td                                  { min-width:156px; height: 215px; }
.table                              {margin: 0 auto; width: 582px;  border-collapse: collapse; text-align: center; overflow-x: visible; }

.stories                                            { margin-top: 50px; }
.stories-title                                      { font-size: 26px; color: #2c386b; text-align: center;}
.stories-title h1                                   { margin-bottom: 10px;}
.class-stories                                      { padding-top: 10px; padding-bottom: 30px; display: flex; justify-content: space-between; overflow: hidden;}
.story                                              { padding: 0 25px; width: 280px; position: relative; display: flex; flex-direction: column;  }
.person img                                         { margin-right: 15px; height: 70px; width: 70px; border-radius: 100%; object-fit: cover; }
.class-stories .slick-dots li button                { display: none; 
}


.counter-bg                                         {margin-top: 50px;   height: 500px;  background : url("../images/bg_3_mobile.jpg") no-repeat center right/cover;  color: #f9b5b5;}
.counter                                            { margin-top: 40px; height: unset; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.counts                                             { margin-bottom:20px ; display: flex; flex-direction: column;  text-align: center;}
.counts h1                                          { font-size: 45px; margin-bottom: 5px;  cursor: default;}

.recent-posts                                       { padding-top: 15px; background-color: #fafafa;}
.posts                                              { margin-bottom: 25px; display: flex; flex-direction: column; align-items: center; justify-content: space-between;}
.post                                               { margin-bottom: 35px; display: flex; flex-direction: column;    width: 280px;}
.post p:first-of-type                               { margin: 10px 0;  font-size: 12px; font-weight: 300; color: #c4c4c4;}
.post p:last-of-type                                { margin-top: 10px; font-size: 14px; font-weight: 300; color: rgba(0, 0, 0, 0.503);}

.latest-photos                                      { margin: 0 auto; padding: unset; display: flex; flex-wrap: wrap; justify-content: center; overflow: hidden;}
.photo                                              { margin: unset; margin-bottom: 25px; height: 280px; width: 280px; overflow: hidden; cursor: pointer;}


footer                                              { height: 105vh; background-color: #fafafa; border-top: 1px solid #e4e7ea;}
.footer                                             {margin: 50px auto; display: flex; flex-direction: column; align-items: center; justify-content: space-between;}
.footer-content                                     { margin-bottom: 35px;  width: 280px; text-align: center;}


.have-questions  h3                                 { margin-bottom: 25px; color: #2c386b;}
.ques-cont                                          { margin-bottom: 20px; display: flex; align-items: center; justify-content: center; color: #c4c4c4; font-weight: 200; font-size: 14px;}
.ques-cont p                                        { margin-left: unset;}
.ques-cont span                                     {  display: none; }



.clickToTop                                         { display: none; position: fixed; right: 25px; bottom: 25px; z-index: 10;  outline: none; border: none; height: 50px; width: 50px; border-radius:100% ; background:   #f9b5b5;  cursor: pointer; overflow: visible; transition-duration:0.4s ;}
}


@media (min-width:576px ) and (max-width:767px){

.container      { width: 540px;}

.header         { width: 100%;}
.logo                               { display: inline-block; margin: 14px 20px; text-align: left;   }
.nav-menu       { margin-right: 30px; display: flex; align-items: center; justify-content: center; position: absolute; top: 50%; right: 0%; height: 30px; width: 30px; font-size: 22px; transform: translateY(-50%);}
.navigation-menu { height: 587px;}

.navbar         { display: none;}

.logo h1                            { font-size: 34px; color: #2c386b; }

.banner                             { min-height: 100vh; position: relative; background-color: #fafafa; overflow: hidden;}
.slides img                         { height: 100vh; width: 100%; object-fit: cover; filter: brightness(50%);  }
.slick-dots                         {  bottom: 15px; transform: scale(0.8); }
.banner-content h1                  { font-size: 32px;}
.banner-content p                   { margin: 15px auto;  font-size: 12px; color: rgba(255, 255, 255, 0.783); font-size: 12px; line-height: 1.5;}
.left-arrow                         { z-index: 1; position: absolute; top: 50%; left: 3%; transform: translateY(-50%) rotate(180deg) scale(0.5);  cursor: pointer; transition: all 0.4s ease; }
.right-arrow                        {  z-index: 1; position: absolute; top: 50%; right: 3%; transform: translateY(-50%) scale(0.5) ; cursor: pointer; transition: all 0.4s ease; }
.btn                                { padding: 10px 15px; font-size: 12px; outline: none; border: none;  background: transparent; color: white; border:  1px solid white; transition: all 0.4s ease; cursor: pointer;}

.yoga-types                         { padding: 25px 0;  background-color: #fafafa; overflow: hidden;}
.yoga                               { margin: 0px auto; display: flex; flex-direction: column; align-items: center; justify-content: space-between; }
.yoga-type                          { margin-top: 15px; width: 250px; display: flex; flex-direction: column; align-items: center; text-align: center;}
.yoga-type h1                       { margin-top: 30px; font-size: 28px; color: #2c386b; }
.yoga-type p                        { margin-top: 15px; font-size: 14px;  color: #2c386b;}
.learn-more                         { margin: 25px auto; padding:10px 20px ; border: none; outline: none; color: rgba(0, 0, 0, 0.829); background: white; font-size: 14px;  cursor: pointer; transition: all 0.4s ease;}

.experience-title                   { margin-top: 25px;  font-size: 28px; color: #2c386b; }
.experience                         { margin-top: 25px; display: flex;  flex-direction: column; align-items: center; justify-content: center; overflow: hidden;}
.exp-img                            { margin: 35px auto; height: 440px; width:310px;  overflow: hidden;}

.lft-content                        { margin-right: unset; margin-bottom:25px ; max-width: 350px; text-align: center;}
.lft-content h1                     { font-size: 22px; color: #2c386b;}
.lft-content p                      { margin-top: 10px; max-width:310px;  font-size: 14px; color: #2c386b;}
.lft-img                            { display: none; width: 60px; height: 60px; background-color: #f9b5b5; border-radius: 100%; overflow: hidden; flex-shrink:0 ;}

.exp-rgt                            { margin-bottom: 50px; display: flex; flex-direction: column; justify-content: space-between;}
.rgt-content                        { margin-left: unset; margin-top: 25px; max-width: 350px; text-align: center;}
.rgt-content h1                     { font-size: 22px; color: #2c386b;}
.rgt-content p                      { margin-top: 10px; max-width:310px; font-size: 14px; color: #2c386b;}
.rgt-img                            { display: none; margin-left: 25px; width: 60px; height: 60px; flex-shrink: 0; background-color: #f9b5b5; border-radius: 100%; overflow: hidden; }


.classes-title                      {  margin-top: 25px; margin-bottom: 25px; text-align: center; font-size: 28px; color: #2c386b;}
.class-grid                         { margin-bottom: 25px; display: flex; flex-direction: column; align-items: center; justify-content: space-between;}
.class                              { margin-top: 15px; margin-bottom: 25px; width: 400px; display: flex; flex-direction: column;  text-align: center; align-items: center;}
.class h2                           { margin-top: 15px; color: #2c386b; cursor: pointer; }


.time-table-title                   { margin-top: 25px; margin-bottom: 25px; font-size: 26px; color: #2c386b; text-align: center;}
.class-time-table                   { overflow-x: scroll; margin-left: 25px; margin-right: 25px; border: 1px solid #e4e7ea;}
td                                  { min-width:150px; height: 215px; }
.table                              {margin: 0 auto; width: 1170px;  border-collapse: collapse; text-align: center; overflow-x: visible; }


.stories                                            { margin-top: 50px; }
.stories-title                                      { font-size: 26px; color: #2c386b; text-align: center;}
.stories-title h1                                   { margin-bottom: 10px;}
.class-stories                                      { padding-top: 10px; padding-bottom: 30px; display: flex; justify-content: space-between; overflow: hidden;}
.story                                              { padding: 0 25px; width: 280px; position: relative; display: flex; flex-direction: column;  }
.story p {font-size: 14px;line-height: 1.5;text-align: justify; color: #2c386b;
  }
.person img                                         { margin-right: 15px; height: 70px; width: 70px; border-radius: 100%; object-fit: cover; }
.class-stories .slick-dots li button                { display: none; 
}


.counter-bg                                         {margin-top: 50px;   height: 400px; display: flex; align-items: center;  background : url("../images/bg_3_mobile.jpg") no-repeat center right/cover;  color: #f9b5b5;}
.counter                                            { margin-top: 40px; margin-inline: auto; height: unset; width: 367px; display: flex; flex-wrap: wrap;  justify-content: center; align-items: center; }
.counts                                             { margin-bottom:20px ; display: flex; flex-direction: column;  text-align: center;}
.counts h1                                          { font-size: 45px; margin-bottom: 5px;  cursor: default;}


.recent-posts                                       { padding-top: 15px; background-color: #fafafa;}
.posts                                              { margin-bottom: 25px; display: flex; flex-direction: column; align-items: center; justify-content: space-between;}
.post                                               { margin-bottom: 35px; display: flex; flex-direction: column;    width: 400px;}
.post p:first-of-type                               { margin: 10px 0;  font-size: 12px; font-weight: 300; color: #c4c4c4;}
.post p:last-of-type                                { margin-top: 10px; font-size: 14px; font-weight: 300; color: rgba(0, 0, 0, 0.503);}


.latest-photos                                      { margin: 0 auto; padding: 25px; display: flex; flex-wrap: wrap; justify-content: center; overflow: hidden;}
.photo                                              { margin: unset; margin-bottom: 25px; height: 280px; width: 400px; overflow: hidden; cursor: pointer;}

footer                                              { height: 100%; background-color: #fafafa; border-top: 1px solid #e4e7ea; overflow: hidden;}
.footer                                             {margin: 50px auto; display: flex; flex-direction: column; align-items: center; justify-content: space-between;}
.footer-content                                     { margin-bottom: 35px;  width: 280px; text-align: center;}
.have-questions  h3                                 { margin-bottom: 25px; color: #2c386b;}
.ques-cont                                          { margin-bottom: 20px; display: flex; align-items: center; justify-content: center; color: #c4c4c4; font-weight: 200; font-size: 14px;}
.ques-cont p                                        { margin-left: unset;}
.ques-cont span                                     {  display: none; }

.clickToTop                                         {  right: 25px; bottom: 25px; }

}

@media (min-width:768px) and (max-width:991px){
    .container      { width: 720px;}
    .nav-menu       { display: flex; align-items: center; justify-content: center; position: absolute; top: 50%; right: 0%; height: 30px; width: 30px; font-size: 22px; transform: translateY(-50%);}
    .navigation-menu { height: 587px;}
    
    .navbar         { display: none;}
    .logo           { text-align: left;}
    .banner                             { height: 100%; min-height: unset; position: relative; background-color: #fafafa; overflow: hidden;}
    .slides img                         {height: unset; width: 100%; object-fit: cover; filter: brightness(50%);  }
    .slick-dots                         {  bottom: 15px; transform: scale(0.8); }
    .banner-content h1                  { font-size: 32px;}
.banner-content p                   { margin: 15px auto;  font-size: 12px; color: rgba(255, 255, 255, 0.783); font-size: 12px; line-height: 1.5;}
.left-arrow                         { z-index: 1; position: absolute; top: 50%; left: 3%; transform: translateY(-50%) rotate(180deg) scale(0.5);  cursor: pointer; transition: all 0.4s ease; }
.right-arrow                        {  z-index: 1; position: absolute; top: 50%; right: 3%; transform: translateY(-50%) scale(0.5) ; cursor: pointer; transition: all 0.4s ease; }
.btn                                { padding: 10px 15px; font-size: 12px; outline: none; border: none;  background: transparent; color: white; border:  1px solid white; transition: all 0.4s ease; cursor: pointer;}

.yoga-types                         { padding: 25px 0;  background-color: #fafafa; overflow: hidden;}
.yoga                               { margin: 0px auto; display: flex; flex-wrap: wrap; flex-shrink:0 ; align-items: center; justify-content: space-around; }
.yoga-type                          { margin-top: 15px; width: 250px; display: flex; flex-direction: column; align-items: center; text-align: center;}
.yoga-type h1                       { margin-top: 30px; font-size: 28px; color: #2c386b; }
.yoga-type p                        { margin-top: 15px; font-size: 14px;  color: #2c386b;}
.learn-more                         { margin: 25px auto; padding:10px 20px ; border: none; outline: none; color: rgba(0, 0, 0, 0.829); background: white; font-size: 14px;  cursor: pointer; transition: all 0.4s ease;}

.experience                         { margin-bottom: 50px;}
.experience-title                   { margin-top: 25px;  font-size: 28px; color: #2c386b; }
.exp-img                            { margin-inline: 25px; height: 649.2; width:310px;  overflow: hidden;}
.lft-content                        { margin-right: unset; margin-bottom:25px ; max-width: 350px; text-align: right;}
.lft-content h1                     { font-size: 22px; color: #2c386b;}
.lft-content p                      { margin-top: 10px; max-width:310px;  font-size: 14px; color: #2c386b;}
.lft-img                            { display: none; width: 60px; height: 60px; background-color: #f9b5b5; border-radius: 100%; overflow: hidden; flex-shrink:0 ;}

.exp-rgt                            { margin-bottom: unset; display: flex; flex-direction: column; justify-content: space-between;}
.rgt-content                        { margin-left: unset; margin-top: unset; max-width: 350px; text-align: left;}
.rgt-content h1                     { font-size: 22px; color: #2c386b;}
.rgt-content p                      { margin-top: 10px; max-width:310px; font-size: 14px; color: #2c386b;}
.rgt-img                            { display: none; margin-left: 25px; width: 60px; height: 60px; flex-shrink: 0; background-color: #f9b5b5; border-radius: 100%; overflow: hidden; }


.classes-title                      {  margin-top: 25px; margin-bottom: 25px; text-align: center; font-size: 28px; color: #2c386b;}
.class-grid                         { margin-bottom: 25px; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-around;}
.class                              { margin-top: 15px; margin-bottom: 25px; width: 280px; display: flex; flex-direction: column;  text-align: center; align-items: center;}
.class h2                           { margin-top: 15px; color: #2c386b; cursor: pointer; }


.time-table-title                   { margin-top: 25px; margin-bottom: 50px; font-size: 26px; color: #2c386b; text-align: center;}
.class-time-table                   { overflow-x: scroll; margin-left: 25px; margin-right: 25px; margin-bottom: 25px; border: 1px solid #e4e7ea;}
td                                  { min-width:150px; height: 215px; }
.table                              {margin: 0 auto;  width: 1170px;  border-collapse: collapse; text-align: center; overflow-x: visible; }

.stories                                            { margin-top: 50px; }
.stories-title                                      { font-size: 26px; color: #2c386b; text-align: center;}
.stories-title h1                                   { margin-bottom: 10px;}
.class-stories                                      { padding-top: 10px; padding-bottom: 30px; display: flex; justify-content: space-between; overflow: hidden;}
.class-stories .slick-dots li button                { display: none; 
}


.counter-bg                                         {margin-top: 50px;   height: 300px; display: flex; align-items: center;  background : url("../images/bg_3_mobile.jpg") no-repeat center right/cover;  color: #f9b5b5;}
.counter                                            { margin-top: 40px; margin-inline: auto; height: unset; width: 650px; display: flex; flex-wrap: wrap;  justify-content: center; align-items: center; }
.counts                                             { margin-bottom:20px ; display: flex; flex-direction: column;  text-align: center;}
.counts h1                                          { font-size: 45px; margin-bottom: 5px;  cursor: default;}

.recent-posts                                       { padding-top: 15px; background-color: #fafafa;}
.posts                                              { margin-bottom: 25px; display: flex; flex-wrap: wrap; flex-shrink: 0; align-items: center; justify-content: space-around;}
.post                                               { margin-bottom: 35px; display: flex; flex-direction: column;    width: 280px;}
.post p:first-of-type                               { margin: 10px 0;  font-size: 12px; font-weight: 300; color: #c4c4c4;}
.post p:last-of-type                                { margin-top: 10px; font-size: 14px; font-weight: 300; color: rgba(0, 0, 0, 0.503);}


.latest-photos                                      { margin: 0 auto; padding: 25px 50px; display: flex; flex-wrap: wrap; justify-content: space-evenly; overflow: hidden;}
.photo                                              { margin: unset; margin-bottom: 25px; height: 280px; width: 300px; overflow: hidden; cursor: pointer;}


footer                                              { height: 100%; background-color: #fafafa; border-top: 1px solid #e4e7ea; overflow: hidden;}
.footer                                             {margin: 50px auto; display: flex; flex-wrap: wrap;  justify-content: space-between;}
.footer-content                                     { margin-bottom: unset;  width: 300px; text-align: center;}
.footer-content:nth-of-type(3)                    { margin-top: 25px; }
.footer-content:nth-of-type(4)                    { margin-top: 25px; }
.footer-meditative  p                                { line-height: 1.5;}
.ques-cont                                          { margin-bottom: 20px; display: flex; align-items: center; justify-content: center; color: #c4c4c4; font-weight: 200; font-size: 14px; text-align: center;}
.ques-cont p                                        { margin-left: unset; max-width: 150px; line-height: 1.5;}
.ques-cont span                                     {  display: none; }
.clickToTop                                         {  right: 25px; bottom: 25px; }



}

@media (min-width:992px) and (max-width:1199px){
.container  { width: 960px}

.nav-menu       { display: flex; align-items: center; justify-content: center; position: absolute; top: 50%; right: 0%; height: 30px; width: 30px; font-size: 22px; transform: translateY(-50%);}
.navigation-menu { height: 800px;}

.navbar         { display: none;}
.logo           { text-align: left;}


.yoga                               { margin: 25px auto; display: flex;  align-items: center; }
.yoga-types                         { padding: 25px 0; }
.yoga-type                          { width: 200px; }
.yoga-image                         { width: 180px; height: 180px;}
.yoga-type h1                       { margin-top: 30px; font-size: 22px;  }
.yoga-type p                        { margin-top: 15px; font-size: 14px;}

.classes-title                      {  margin-top: 25px; margin-bottom: 25px; text-align: center; }
.class-time-table                   { overflow-x: scroll; margin-left: 25px; margin-right: 25px; border: 1px solid #e4e7ea;}
td                                  { min-width:185px; height: 215px; }
.table                              {margin: 0 auto; width: 960px;  border-collapse: collapse; text-align: center; overflow-x: visible; }

.stories                                            { margin-top: 70px; }
.stories-title h1                                   { margin-bottom: 10px;}

.latest-photos                                      { margin: 0 auto; padding: 25px; }



}









